{% extends parent_template|default:"todo/todo_base.html" %}

{% block title %}
{{ block.super }} - Delete Item
{% endblock %}

{% block content %}
  <div>
    <div>
      <form action="{{ item.get_delete_url }}" method="post">
        {% csrf_token %}
        <p>
          Are you sure you want to delete the Item- {{ item.name }}?
        </p>
        <a href="{{ item.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Item</button>
      </form>
    </div>
  </div>
{% endblock %}