{% extends parent_template|default:"todo/todo_base.html" %}

{% block title %}
{{ block.super }} - Delete Todo List
{% endblock %}

{% block content %}
  <div>
    <div>
      <form action="{{ todo.get_delete_url }}" method="post">
        {% csrf_token %}
        <p>
          Are you sure you want to delete the Todo List titled {{ todo.title }}?
        </p>
        <a href="{{ todo.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Todo List</button>
      </form>
    </div>
  </div>
{% endblock %}